<!-- Winter -->
<div class="s01 pt-4">
  <form>
    <div class="text-center text-white">
      <p class="align-top d-flex justify-content-center media w3-animate-top" id="myDIV">Winter</p>
      <p class=" media-p  w3-animate-left" id="myDIV2">Some say the weather outside in the winter is frightful,<br>
        but we just think it's misunderstood. Use this collection of beautiful snowscapes, serene winter moments, <br>
        and fun in the snow to add a touch of cool to your projects.</p>
    </div>
    <div class="inner-form  w3-animate-bottom" id="myDIV3">
      <div class="input-field first-wrap">
        <input class="justify-content-center p-3  border-0" id="search" type="text"
          placeholder="Search what you want" />
        <h1><i class="fa fa-search fa-1x text-muted pt-4 search1"></i></h1>
      </div>

    </div>
  </form>
</div>

<!-- Images for -->


<div class="bbb_viewed py-5">
  <div class="container cc-container pt-5">
      <div class="row">
        <div class="col-md-1"> <h5 class="text-center pt-2 color-cls">Images for</h5></div>
          <div class="col-md-11">
              <div class="bbb_main_container">
                 
                  <div class="bbb_viewed_slider_container">
                   
                      <div class="owl-carousel owl-theme bbb_viewed_slider">
                        
                        <div class="owl-item">
                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="style ">Snow</div>                              
                          </div>
                      </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style ">Building</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style ">Woods</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style ">Roads</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style ">Playground</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style">Snowfall</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style ">Houses</div>                              
                              </div>
                          </div>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Filters & Showing -->
<div class="row pt-5 w-100 mr-cls">
  <div class="col-md-3">
  <div class="card">
    <div class="row">
      <div class="col-md-12 py-3 px-4">
        <h5 class="pl-4 float-left light-text-h">Filters</h5>
        <i class="	fa fa-sliders fa-2x float-right pr-3"></i>
       
      </div>
    </div>
    <div class=" top-border px-3 ">
        <form>
          <div class="radio">
            <h5 class="pl-3 float-left light-text-h">Color Theme</h5><br><br>
          <span class="px-3">
            <label class="pr-5"><input type="radio" name="theme" checked><h5 class=" float-left font-weight-normal light-text pt-1">Light</h5></label> &nbsp; &nbsp;
          <label class="pl-5"><input type="radio" name="theme"><h5 class=" float-left font-weight-normal light-text pt-1">Dark </h5></label>
          </span>
        </div>
        </form>
      
    </div>
    <div class=" top-border px-3">
      <div class="row">
        <div class="col-md-12 py-3">
          <h5 class="pl-3 float-left light-text-h">Pixels</h5><br><br>
          <div class="min float-left px-4 py-3 ml-4 mt-1"><h5 class=" font-weight-normal light-text">Min Pixels</h5></div>
          <div class="max float-left px-4 py-3 ml-4 mt-1"><h5 class="  font-weight-normal light-text">Max Pixels</h5></div>
        </div>
      </div>
     
      
      </div>
      <div class="top-border px-3">
        <div class="row">
          <div class="col-md-12 py-3">
            <h5 class="pl-3 float-left light-text-h">Include people</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" checked>
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>     
       </div>
       <div class="top-border py-3 px-3">
        <h5 class="pl-3 float-left light-text-h">Category</h5><br><br>
        <div class="row">
          <div class="col-md-12 ">
            <h5 class="pl-3 float-left light-text pb-1">Vector</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" checked>
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>     
        <div class="row">
          <div class="col-md-12">
            <h5 class="pl-3 float-left light-text pb-1">Images</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" >
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>     
        <div class="row">
          <div class="col-md-12">
            <h5 class="pl-3 float-left light-text">Software Files</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" checked>
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>     
       </div>
       <div class="top-border py-3 px-3">
        <h5 class="pl-3 float-left light-text-h">Orientation</h5><br><br>
        <div class="row">
          <div class="col-md-12">
            <h5 class="pl-3 float-left  light-text pb-1"><i class="	fa fa-arrows-h ga-1x Horizontal py-2 px-1"></i>&nbsp; Horizontal</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" checked>
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>     
        <div class="row">
          <div class="col-md-12">
            <h5 class="pl-3 float-left light-text pb-1"> <i class="	fa fa-arrows-v fa-1x Horizontal p-2"></i>&nbsp;&nbsp; Vertical</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" >
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>     
        <div class="row">
          <div class="col-md-12">
            <h5 class="pl-3 float-left light-text pb-1"><i class="fa fa-arrows fa-1x Horizontal py-2 px-1"></i>&nbsp; Square</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" checked>
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>   
        <div class="row">
          <div class="col-md-12">
            <h5 class="pl-3 float-left  light-text"><i class="	fa fa-arrows-v fa-1x Horizontal p-2"></i>&nbsp;&nbsp;Panaromic</h5>
            <label class="switch float-right pr-3 position-relative" >
              <input type="checkbox" >
              <span class="slider round position-absolute"></span>
            </label>
          </div>
        </div>   
       </div>
  </div>
  </div>
  <div class="col-md-8 ">
    <div class="bbb_viewed">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="bbb_main_container">
                      <div class="bbb_viewed_title_container">
                          <h4 class="bbb_viewed_title py-4 color-cls">Showing 20 out 1,520 Images</h4>
                          <div class="bbb_viewed_nav_container">
                              <div type="button" class="bbb_viewed_nav bbb_viewed_prev py-2  bor prev-btn"><i class="fas fa-chevron-left fa-1x px-3"></i></div>
                              <div type="button" class="bbb_viewed_nav bbb_viewed_next py-2 bor1  next-btn"><i class="fas fa-chevron-right fa-1x px-3"></i></div>
                          </div>
                      </div>
                      <div class="bbb_viewed_slider_container">
                       
                          <div class="owl-carousel owl-theme bbb_viewed_slider-btn" id="myDIV">
                              <div class="owl-item">
                                  <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                    <div type="button " class="py-2 bor bt">1</div>                                  
                                  </div>
                              </div>
                              <div class="owl-item">
                                  <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                    <div type="button" class="py-2 bor bt">2</div>                                  
                                  </div>
                              </div>
                              <div class="owl-item">
                                  <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                    <div type="button" class="py-2 bor bt">3</div>                                  
                                        </div>
                              </div>
                              <div class="owl-item">
                                  <div class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                    <div type="button" class="py-2 bor bt">4</div>                                  
                                  </div>
                              </div>
                              <div class="owl-item">
                                  <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                    <div type="button" class="py-2 bor bt">5</div>                                  
                                  </div>
                              </div>
                              <div class="owl-item">
                                  <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                    <div type="button" class="py-2 bor bt">6</div>                                  
                                  </div>
                              </div>
                              <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                  <div type="button" class="py-2 bor bt">7</div>                                  
                                </div>
                            </div>
                            <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div type="button" class="py-2 bor bt">8</div>                                  
                              </div>
                          </div>
                          <div class="owl-item">
                            <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                              <div type="button" class="py-2 bor bt">9</div>                                  
                            </div>
                        </div>
                        <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">10</div>                                  
                          </div>
                      </div>
                      <div class="owl-item">
                        <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                          <div type="button" class="py-2 bor bt">11</div>                                  
                        </div>
                    </div>
                    <div class="owl-item">
                      <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                        <div type="button" class="py-2 bor bt">12</div>                                  
                      </div>
                  </div>
                  <div class="owl-item">
                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                      <div type="button" class="py-2 bor bt">13</div>                                  
                    </div>
                   </div>
                    <div class="owl-item">
                      <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                        <div type="button" class="py-2 bor bt">14</div>                                  
                      </div>
                      </div>
                      <div class="owl-item">
                        <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                          <div type="button" class="py-2 bor bt">15</div>                                  
                        </div>
                        </div>
                        <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">16</div>                                  
                          </div>
                          </div>
                          <div class="owl-item">
                            <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                              <div type="button" class="py-2 bor bt">17</div>                                  
                            </div>
                            </div>
                            <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div type="button" class="py-2 bor bt">18</div>                                  
                              </div>
                              </div>
                              <div class="owl-item">
                                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                  <div type="button" class="py-2 bor bt">19</div>                                  
                                </div>
                              </div>
                                <div class="owl-item">
                                  <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                    <div type="button" class="py-2 bor bt">20</div>                                  
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

<br>
  
<!-- Gallary -->
<div class="gallary-section pt-5 px-2">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="column">
          <div class="img-div">
            <div class="middle1 top-winter1">
              <div class="text">
                <h5 class="">Cold fall or Winter Evenin...</h5>
              </div>
            </div>
            <a routerLink="/snow">
            <img src="./../../assets/image/gallary2.png" class="w-100 height-2-winter image"></a>
            <div class="middle top-winter">
              <div class="text">
                <ul class = "list-inline p-0 text-right">
                  <li> <i class="fa fa-copy pr-1"></i></li>
                  <li><i class="fa fa-camera  pr-1"></i></li>
                  <li><i class="fa fa-heart pr-1"></i></li>
                </ul>
              </div>
            </div>
            </div>
        <div class="img-div g-t">
          <div class="middle1 top-winter1">
            <div class="text">
              <h5 class="">Cold fall or Winter Evenin...</h5>
            </div>
          </div>
          <a routerLink="/snow">
          <img src="./../../assets/image/gallary2.png" class="w-100 height-2-winter image"></a>
          <div class="middle top-winter">
            <div class="text">
              <ul class = "list-inline p-0 text-right">
                <li> <i class="fa fa-copy pr-1"></i></li>
                <li><i class="fa fa-camera  pr-1"></i></li>
                <li><i class="fa fa-heart pr-1"></i></li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      <div class="column">
        <div class="img-div">
          <div class="middle1 top-winter1">
            <div class="text">
              <h5 class="">Cold fall or Winter Evenin...</h5>
            </div>
          </div>
          <a routerLink="/snow">
          <img src="./../../assets/image/gallary13.png" class="w-100 height-winter image"></a>
          <div class="middle top-winter">
            <div class="text">
              <ul class = "list-inline p-0 text-right">
                <li> <i class="fa fa-copy pr-1"></i></li>
                <li><i class="fa fa-camera  pr-1"></i></li>
                <li><i class="fa fa-heart pr-1"></i></li>
              </ul>
            </div>
          </div>
          </div>
        <div class="img-div  g-t">
          <div class="middle1 top-winter1">
            <div class="text">
              <h5 class="">Cold fall or Winter Evenin...</h5>
            </div>
          </div>
          <a routerLink="/snow">
          <img src="./../../assets/image/gallary15.png" class="w-100 height-3-winter image"></a>
          <div class="middle top-winter">
            <div class="text">
              <ul class = "list-inline p-0 text-right">
                <li> <i class="fa fa-copy pr-1"></i></li>
                <li><i class="fa fa-camera  pr-1"></i></li>
                <li><i class="fa fa-heart pr-1"></i></li>
              </ul>
            </div>
          </div>
          </div>
       
    
      </div>
     
    </div>
    </div>
    <div class="col-md-5 px-0  position-relative mobile-gallary-position ">
      <section>
  <div class=" gal-container">
    <div class="coloumn">
      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box img-div div1 mr-3">
          <div class="middle1 top-winter1">
            <div class="text">
              <h5 class="">Cold fall or Winter Evenin...</h5>
            </div>
          </div>
          <a routerLink="/snow">
          <img src="./../../assets/image/gallary15.png" class="w-100 height-winter image "></a>
          <div class="middle top-winter">
            <div class="text">
              <ul class = "list-inline p-0 text-right">
                <li> <i class="fa fa-copy pr-1"></i></li>
                <li><i class="fa fa-camera  pr-1"></i></li>
                <li><i class="fa fa-heart pr-1"></i></li>
              </ul>
            </div>
          </div>
       
      </div>
      <div class="box img-div div2  g-t1">
        <div class="middle1 top-winter1">
          <div class="text">
            <h5 class="">Cold fall or Winter Evenin...</h5>
          </div>
        </div>
        <a routerLink="/snow">
        <img src="./../../assets/image/gallary16.png" class="w-100 height-winter image "></a>
        <div class="middle top-winter">
          <div class="text"> <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul></div>
        </div>
     
    </div>
    </div>
  </div>
    



  <div class="coloumn">
    <div class="col-md-12 col-sm-12 co-xs-12 gal-item item-image">
      <div class="box img-div div2 g-t1">
        <div class="middle1 top-winter1">
          <div class="text">
            <h5 class="">Cold fall or Winter Evenin...</h5>
          </div>
        </div>
        <a routerLink="/snow">
        <img src="./../../assets/image/gallary3.png" class="w-100 height-winter image "></a>
        <div class="middle top-winter">
          <div class="text">
            <ul class = "list-inline p-0 text-right">
              <li> <i class="fa fa-copy pr-1"></i></li>
              <li><i class="fa fa-camera  pr-1"></i></li>
              <li><i class="fa fa-heart pr-1"></i></li>
            </ul>
          </div>
        </div>
     
    </div>
    <div class="box img-div div1 ml-3">
      <div class="middle1 top-winter1">
        <div class="text">
          <h5 class="">Cold fall or Winter Evenin...</h5>
        </div>
      </div>
      <a routerLink="/snow">
      <img src="./../../assets/image/pexels-pixabay-235621@2x.png" class="w-100 height-winter image "></a>
      <div class="middle top-winter">
        <div class="text">
          <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul>
        </div>
      </div>
   
  </div>
   
  </div>
</div>

<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item item-image1">
    <div class="box img-div">
      <div class="middle1 top-winter1">
        <div class="text">
          <h5 class="">Cold fall or Winter Evenin...</h5>

        </div>
      </div>
      <a routerLink="/snow">
      <img src="./../../assets/image/gallary9.png" class="w-100 height-1-winter image"></a>
      <div class="middle top-winter">
        <div class="text">
          <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul>
        </div>
      </div>
   
  </div>
</div>
</div>
   
 
  </div>
</section>
    </div>
  </div>


  <div class="row position-relative gallary-position item-image2">
    <div class="col-md-12 p-0">
      <div class="coloumn">
        <div class="col-md-6 col-sm-12 co-xs-12 gal-item float-left">
        
          <div class="box img-div  w-100">
            <div class="middle1 top-winter1">
              <div class="text">
                <h5 class="">Cold fall or Winter Evenin...</h5>
              </div>
            </div>
            <a routerLink="/snow">
            <img src="./../../assets/image/gallary10.png" class="w-100 height-1-winter image"></a>
            <div class="middle top-winter">
              <div class="text">
                <ul class = "list-inline p-0 text-right">
                  <li> <i class="fa fa-copy pr-1"></i></li>
                  <li><i class="fa fa-camera  pr-1"></i></li>
                  <li><i class="fa fa-heart pr-1"></i></li>
                </ul>
              </div>
            </div>
         
        </div>
       
      </div>
      <div class="col-md-6 col-sm-12 co-xs-12 gal-item float-left">

      <div class="box img-div w-100 ">
        <div class="middle1 top-winter1">
          <div class="text">
            <h5 class="">Cold fall or Winter Evenin...</h5>
          </div>
        </div>
        <a routerLink="/snow">
        <img src="./../../assets/image/gallary11.png" class="w-100 height-1-winter image"></a>
        <div class="middle top-winter">
          <div class="text">
             <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul>
        </div>
        </div>
     
    </div>
    </div>
      </div>
    </div>
  </div>


  <div class="row position-relative gallary-position item-image3">
  
    <div class="col-md-5 px-0">
      <section>
  <div class=" gal-container">
  
<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item ">
    <div class="box img-div ">
      <div class="middle1 top-winter1">
        <div class="text">
          <h5 class="">Cold fall or Winter Evenin...</h5>
        </div>
      </div>
      <a routerLink="/snow">
      <img src="./../../assets/image/gallary9.png" class="w-100 height-1-winter image"></a>
      <div class="middle top-winter">
        <div class="text">
          <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul>
        </div>
      </div>
   
  </div>
</div>
</div>
<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item g-t">
    <div class="box img-div div1">
      <div class="middle1 top-winter1">
        <div class="text">
          <h5 class="">Cold fall or Winter Evenin...</h5>
        </div>
      </div>
      <a routerLink="/snow">
      <img src="./../../assets/image/gallary7.png" class="w-100 height-winter image"></a>
      <div class="middle top-winter">
        <div class="text">
          <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul>
        </div>
      </div>
   
  </div>
   
  <div class="box img-div div2 ml-3 g-t1">
    <div class="middle1 top-winter1">
      <div class="text">
        <h5 class="">Cold fall or Winter Evenin...</h5>
      </div>
    </div>
    <a routerLink="/snow">
    <img src="./../../assets/image/gallary5.png" class="w-100 height-winter image"></a>
    <div class="middle top-winter">
      <div class="text">
        <ul class = "list-inline p-0 text-right">
          <li> <i class="fa fa-copy pr-1"></i></li>
          <li><i class="fa fa-camera  pr-1"></i></li>
          <li><i class="fa fa-heart pr-1"></i></li>
        </ul>
      </div>
    </div>
 
</div>
</div>
</div>
<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item item-image2 ">
    <div class="box img-div div2 g-t1">
      <div class="middle1 top-winter1">
        <div class="text">
          <h5 class="">Cold fall or Winter Evenin...</h5>
        </div>
      </div>
      <a routerLink="/snow">
      <img src="./../../assets/image/gallary17.png" class="w-100 height-winter image"></a>
      <div class="middle top-winter">
        <div class="text">
          <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul>
        </div>
      </div>
   
  </div>
  <div class="box img-div div1 ml-3">
      <div class="middle1 top-winter1">
        <div class="text">
          <h5 class="">Cold fall or Winter Evenin...</h5>
        </div>
      </div>
      <a routerLink="/snow">
      <img src="./../../assets/image/car-gallary.png" class="w-100 height-winter image "></a>
      <div class="middle top-winter">
        <div class="text">
          <ul class = "list-inline p-0 text-right">
            <li> <i class="fa fa-copy pr-1"></i></li>
            <li><i class="fa fa-camera  pr-1"></i></li>
            <li><i class="fa fa-heart pr-1"></i></li>
          </ul>
        </div>
      </div>
   
  </div>
</div>
</div>
  </div>
</section>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="column">
          <!-- image not available -->
          <div class="img-div">
            <div class="middle1 top-winter1">
              <div class="text">
                <h5 class="">Cold fall or Winter Evenin...</h5>
              </div>
            </div>
            <a routerLink="/snow">
            <img src="./../../assets/image/gallary14.png" class="w-100 height-3-winter image"></a>
            <div class="middle top-winter">
              <div class="text">
                <ul class = "list-inline p-0 text-right">
                  <li> <i class="fa fa-copy pr-1"></i></li>
                  <li><i class="fa fa-camera  pr-1"></i></li>
                  <li><i class="fa fa-heart pr-1"></i></li>
                </ul>
              </div>
            </div>
            </div>
          <div class="img-div g-t">
            <div class="middle1 top-winter1">
              <div class="text">
                <h5 class="">Cold fall or Winter Evenin...</h5>
              </div>
            </div>
            <a routerLink="/snow">
            <img src="./../../assets/image/gallary12.png" class="w-100 height-winter image"></a>
            <div class="middle top-winter">
              <div class="text">
                <ul class = "list-inline p-0 text-right">
                  <li> <i class="fa fa-copy pr-1"></i></li>
                  <li><i class="fa fa-camera  pr-1"></i></li>
                  <li><i class="fa fa-heart pr-1"></i></li>
                </ul>
              </div>
            </div>
            </div>
        </div>
      <div class="column">
        <!-- image border issues -->
        <div class="img-div">
          <div class="middle1 top-winter1">
            <div class="text">
              <h5 class="">Cold fall or Winter Evenin...</h5>
            </div>
          </div>
          <a routerLink="/snow">
          <img src="./../../assets/image/gallary3.png" class="w-100 height-2-winter image"></a>
          <div class="middle top-winter">
            <div class="text">
              <ul class = "list-inline p-0 text-right">
                <li> <i class="fa fa-copy pr-1"></i></li>
                <li><i class="fa fa-camera  pr-1"></i></li>
                <li><i class="fa fa-heart pr-1"></i></li>
              </ul>
            </div>
          </div>
          </div>
      <div class="img-div g-t">
        <div class="middle1 top-winter1">
          <div class="text">
            <h5 class="">Cold fall or Winter Evenin...</h5>
          </div>
        </div>
        <a routerLink="/snow">
        <img src="./../../assets/image/gallary1.png" class="w-100 height-2-winter image"></a>
        <div class="middle top-winter">
          <div class="text">
            <ul class = "list-inline p-0 text-right">
              <li> <i class="fa fa-copy pr-1"></i></li>
              <li><i class="fa fa-camera  pr-1"></i></li>
              <li><i class="fa fa-heart pr-1"></i></li>
            </ul>
          </div>
        </div>
        </div>
      </div>
     
    </div>
    </div>
  </div>
</div>



  </div>
  <div class="col-xs-1"></div>
</div>













