<div class="container">
    <div class="row py-5">
        <div class="col-md-2 py-2">
          <a routerLink="/">
            <p class="align-top px-5  media1 w3-animate-top color-cls" id="myDIV">Media<br> Bucket</p></a>
        </div>
        <div class="col-md-5 py-2 second">
            <div class="form-group ">
        
                <input type="text" class="form-control justify-content-center px-3 py-2  mt-3 w-100"  placeholder="Search what you want">
                <span class="glyphicon glyphicon-search form-control-feedback fa-2x mt-4 pr-2 color-cls"></span>
              </div>
            
        </div>
      
       
        <div class="col-md-5 py-2">
            <span>
                <h4 class="float-left pt-4 color-cls price"> Pricing</h4>
                <i class="fa fa-shopping-cart fa-2x float-left pt-4 ml-5 color-cls" aria-hidden="true"></i> 

                <button type="button" class="btn  btn-bg py-2  float-left ml-5 mt-3 display-3 position-relative ">
                <h5 class="font-weight-normal text-white px-2">Login</h5>
            </button>
            <button type="button" class="btn  btn-bg py-2  ml-5 display-3 mt-3 position-relative">
                <h5 class="font-weight-normal text-white">Sign up</h5>
            </button></span>
        </div>
       
    </div>


    <div class="row py-5 mb-5">
        <div class="col-md-6 pb-5">
            <img class=" w-100 h-100 pl-5 " src="./../../assets/image/Group 503.png">

        </div>
        <div class="col-md-6 pb-5">
            
            <h1 class="color-cls p-5 faq">FAQ</h1>

<button type="button" class="collapsible color-cls float-left ">How do I get free images on Media Bucket? 
    <i class="fa fa-angle-down float-right fa-2x"></i>
</button>
<div class="content">
  <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button type="button" class="collapsible color-cls float-left ">How can I signup to this platform 
    <i class="fa fa-angle-down float-right fa-2x"></i>
</button>
<div class="content">
  <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button type="button" class="collapsible color-cls float-left ">How do I download Media Bucket images for free without watermark?
    <i class="fa fa-angle-down float-right fa-2x"></i>
</button>
<div class="content">
  <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button type="button" class="collapsible color-cls float-left ">How do I download Media Bucket images for free without watermark?
    <i class="fa fa-angle-down float-right fa-2x"></i>
</button>
<div class="content">
  <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button type="button" class="collapsible color-cls float-left ">How do I download Media Bucket images for free without watermark?
    <i class="fa fa-angle-down float-right fa-2x"></i>
</button>
<div class="content">
  <p class="about-p l-spacing">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
        </div>
    </div>
    </div>











  









