<hr class="line my-0">
 <div class="container cc-container">
   
    <div class="row left-media py-5">
        <div class="col-md-5 py-5">
            <h1 class="media text-center text-white pb-5">Media Bucket</h1>
            <ul class="list-class list-unstyled text-center text-white pt-4">
                <li><i class="fa fa-instagram fa-5x"></i></li>
                <li><i class="fa fa-facebook-f fa-5x"></i></li>
                <li><i class="fa fa-twitter fa-5x"></i></li>
                <li><i class="fa fa-linkedin fa-5x"></i></li>
            </ul>
        </div>
        <div class="col-md-6 pb-4">
          <div class="row">
            <div class="col-md-6 ">
                <ul class="list-unstyled text-white un-or-li">
                    <li class="company py-5" ><h2>Our Company</h2></li>
                    <a routerLink="/aboutus">
                    <li class="listt text-white">About Us</li></a>
                    <li class="listt">Careers</li>
                    <li class="listt"> Our Team</li>
                    <a routerLink="/faq">
                    <li class="listt text-white">FAQ</li></a>
                    <li class="listt"> Blogs</li>
                </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-unstyled text-white un-or-li">
                <li class="company py-5"><h2>Legal</h2></li>
                <a routerLink="/t">
                <li class="listt text-white">  Terms & Condition   </li></a>
                <a routerLink="/t">
                <li class="listt text-white"> Privacy Policy</li></a>
                <a routerLink="/t">
                <li class="listt text-white">   License Agreement</li></a>
               
               
            </ul>
            </div>
            <!-- <div class="col-md-4">
              <ul class="list-unstyled text-white un-or-li ">
                <li class="company py-5 "><h2>Other</h2> </li>
                <li class="listt"> Photographers    </li>
                <li class="listt"> Designers</li>
                <li class="listt">  Developers</li>
            </ul>
            </div> -->
                </div>
                <div class="copyright">
                  <img class="w-50" src="./../../assets/image/Subtraction 1.svg">
                  <h4 class="text-white pl-4 copy-p">Copyright ©2020. All Rights Reserved</h4>
                </div>
        </div>
        <!-- <div class="col-md-1">
        </div> -->
    </div>
</div>



