<div class="container">
  <div class="row py-5">
    <div class="col-md-2 py-2">
      <a routerLink="/">
        <p class="align-top px-5  media1 w3-animate-top color-cls" id="myDIV">Media<br> Bucket</p></a>
    </div>
    <div class="col-md-5 py-2 second">
        <div class="form-group ">
    
            <input type="text" class="form-control justify-content-center px-3 py-2  mt-3 w-100"  placeholder="Search what you want">
            <span class="glyphicon glyphicon-search form-control-feedback fa-2x mt-4 pr-2 color-cls"></span>
          </div>
        
    </div>
  
   
    <div class="col-md-5 py-2">
        <span>
            <h4 class="float-left pt-3 color-cls price"> Pricing</h4>
            <i class="fa fa-shopping-cart fa-2x pt-3 ml-5 color-cls" aria-hidden="true"></i> 
            <button type="button" class="btn  btn-bg py-2   ml-5 display-3 position-relative ">
            <h5 class="font-weight-normal text-white px-2">Login</h5>
        </button>
        <button type="button" class="btn  btn-bg py-2  ml-5 display-3 position-relative">
            <h5 class="font-weight-normal text-white">Sign up</h5>
        </button></span>
    </div>
   
</div>
    <br>
<div class="row">
    <div class="col-md-12">
        <h2 class="color-cls pl-5 socials">Social Media Icons</h2>

    </div>
</div>
<br><br>



<div class="row ">
    <div class="col-md-7">
        <img class=" w-100 h-100  " src="./../../assets/image/social.png">

    </div>
    <div class="col-md-5 ">
        <div class="row pt-4">
            <div class="col-md-2">
                    <img class=" rounded-circle raghu" src="./../../assets/image/4006534@2x.png">
            </div>
            <div class="col-md-10 pt-2">

                <span>  
                <h5 class="color-cls ">Raghu Rai</h5>
                    <p class="text-primary">16 OCT 2020, 03:24 PM</p>
                </span>  
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-md-12">
                <div class="location w-50 py-2 px-3">
                    <i class="fa fa-map-marker fa-1x color-cls">123 Himalayas, Mountain range in Asia</i>
                </div>
                <br>
               <h5 class="color-cls float-left mr-3">Category</h5> 
               <p class="text-primary ml-5">Snow</p>
            



            </div>
        </div>
   <div class="row">
       <div class="col-md-10">
        <div class="sections border border-left-0 border-right-0  py-4 pl-1">
          
            <span>
            <i class="fa fa-eye fa-1x color-cls pr-5 "> &nbsp; Views <br>
                <h4 class="text-primary">31,54,299</h4> </i>
            <span class="vl"></span>
            <i class="fa fa-heart-o fa-1x color-cls px-5 view">&nbsp; Like <br>
                <h4 class="text-primary">31,54,299</h4></i>
            <span class="vl"></span>
            <i class="fa fa-download fa-1x color-cls px-4 view">&nbsp; Download
                <br><h4 class="text-primary">31,54,299</h4>
                
            </i>
        </span>

            </div>
            <br>
            <p class="text-primary ">AI</p>
            <h4 class="color-cls">2480 x 2480 (16.9cm x 16.9cm @300dpi)</h4>
            <span>
                <p class="text-primary float-left">7.94 MB</p>
               <i class="fas fa-arrow-down ml-2 color-cls font-weight-bold"></i>
               <i class="fa fa-share-alt ml-2 color-cls font-weight-bold"></i>
            </span>
            <br>
            <br>
            <div class="download float-left">
              <p class="color-cls pt-3 px-4 float-left">Signup Now to donload 10 images free.</p>
            </div>
            <div class="signin float-left">
              <p class="text-white pt-3 px-4 float-left signin ">SignIn</p>
            </div>

       </div>
      
   </div>



 <div class="row">
            <div class="col-md-12 pt-3 slide">
              <h4 class="">Artist Gallery</h4>
             
              <div class="tcb-product-slider py-4">
                <div class="container slider-container p-0">
                  <div class="bbb_viewed_slider_container">
                    <div class="owl-carousel owl-theme bbb_viewed_slider1">
                        <div class="owl-item">
                            <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                              <div class="tcb-product-item">
                                <div class="tcb-product-photo ">
                                  <a href="#"><img src="./../../assets/image/nature.png" class="img-responsive h-100"
                                    alt="a" /></a>
                                    <!-- <div class="text-block text-center text-white position-relative ">
                                      <h5 class="life pt-5">Life</h5>
                                      <p class="slide-photo">250 Photos</p>
                                    </div> -->
                            </div>
                        </div>
                                
                            </div>
                        </div>
                        <div class="owl-item">
                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="tcb-product-item">
                              <div class="tcb-product-photo">
                                <a href="#"><img src="./../../assets/image/life.png" class="img-responsive h-100"
                                  alt="a" /></a>
                                  <!-- <div class="text-block text-center text-white position-relative">
                                    <h5 class="life pt-5">Life</h5>
                                    <p class="slide-photo">250 Photos</p>
                                  </div> -->
                          </div>
                      </div>
                              
                          </div>
                      </div>
                      <div class="owl-item">
                        <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                          <div class="tcb-product-item">
                            <div class="tcb-product-photo">
                              <a href="#"><img src="./../../assets/image/arts.png" class="img-responsive h-100"
                                alt="a" /></a>
                                <!-- <div class="text-block text-center text-white position-relative">
                                  <h5 class="life pt-5">Life</h5>
                                  <p class="slide-photo">250 Photos</p>
                                </div> -->
                        </div>
                    </div>
                            
                        </div>
                    </div>
                    <div class="owl-item">
                      <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="tcb-product-item">
                          <div class="tcb-product-photo">
                            <a href="#"><img src="./../../assets/image/couple.png" class="img-responsive h-100"
                              alt="a" /></a>
                              <!-- <div class="text-block text-center text-white position-relative">
                                <h5 class="life pt-5">Life</h5>
                                <p class="slide-photo">250 Photos</p>
                              </div> -->
                      </div>
                  </div>
                          
                      </div>
                  </div>
                        <div class="owl-item">
                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="tcb-product-item">
                              <div class="tcb-product-photo">
                                <a href="#"><img src="./../../assets/image/life.png" class="img-responsive h-100"
                                  alt="a" /></a>
                                  <!-- <div class="text-block text-center text-white position-relative">
                                    <h5 class="life pt-5">Life</h5>
                                    <p class="slide-photo">250 Photos</p>
                                  </div> -->
                          </div>
                      </div>
                              
                          </div>
                      </div>
                      <div class="owl-item">
                        <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                          <div class="tcb-product-item">
                            <div class="tcb-product-photo">
                              <a href="#"><img src="./../../assets/image/couple.png" class="img-responsive h-100"
                                alt="a" /></a>
                                <!-- <div class="text-block text-center text-white position-relative">
                                  <h5 class="life pt-5">Life</h5>
                                  <p class="slide-photo">250 Photos</p>
                                </div> -->
                        </div>
                    </div>
                            
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
  
  
            </div>
          </div>

    </div>
</div>



<div class="bbb_viewed py-5">
      <div class="row">
       
          <div class="col-md-12">
            <h5 class=" pt-2 color-cls float-left pr-4">Related Tags</h5>
                            <div class="bbb_main_container">
                 
                  <div class="bbb_viewed_slider_container">
                   
                      <div class="owl-carousel owl-theme bbb_viewed_slider">
                        
                        <div class="owl-item">
                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="style">Snow</div>                              
                          </div>
                      </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style">Building</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style">Woods</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style">Roads</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style">Playground</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style">Snowfall</div>                              
                              </div>
                          </div>
                          <div class="owl-item">
                              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="style">Houses</div>                              
                              </div>
                          </div>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
 
</div>

<div class="bbb_viewed">
  <div class="row">
      <div class="col-md-12">
          <div class="bbb_main_container">
              <div class="bbb_viewed_title_container">
                  <p class="bbb_viewed_title">Similar Images</p>
                  <div class="bbb_viewed_nav_container">
                      <div type="button" class="bbb_viewed_nav bbb_viewed_prev py-2  px-2 bor2 prev-btn"><i class="fas fa-chevron-left fa-1x px-3"></i></div>
                      <div type="button" class="bbb_viewed_nav bbb_viewed_next py-2 px-2 bor3  next-btn"><i class="fas fa-chevron-right fa-1x px-3"></i></div>
                  </div>
              </div>
              <div class="bbb_viewed_slider_container">
               
                  <div class="owl-carousel owl-theme bbb_viewed_slider-btn" id="myDIV">
                      <div class="owl-item">
                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button " class="py-2 bor bt">1</div>                                  
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">2</div>                                  
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">3</div>                                  
                                </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">4</div>                                  
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">5</div>                                  
                          </div>
                      </div>
                      <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">6</div>                                  
                          </div>
                      </div>
                      <div class="owl-item">
                        <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                          <div type="button" class="py-2 bor bt">7</div>                                  
                        </div>
                    </div>
                    <div class="owl-item">
                      <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                        <div type="button" class="py-2 bor bt">8</div>                                  
                      </div>
                  </div>
                  <div class="owl-item">
                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                      <div type="button" class="py-2 bor bt">9</div>                                  
                    </div>
                </div>
                <div class="owl-item">
                  <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                    <div type="button" class="py-2 bor bt">10</div>                                  
                  </div>
              </div>
              <div class="owl-item">
                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                  <div type="button" class="py-2 bor bt">11</div>                                  
                </div>
            </div>
            <div class="owl-item">
              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                <div type="button" class="py-2 bor bt">12</div>                                  
              </div>
          </div>
          <div class="owl-item">
            <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
              <div type="button" class="py-2 bor bt">13</div>                                  
            </div>
           </div>
            <div class="owl-item">
              <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                <div type="button" class="py-2 bor bt">14</div>                                  
              </div>
              </div>
              <div class="owl-item">
                <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                  <div type="button" class="py-2 bor bt">15</div>                                  
                </div>
                </div>
                <div class="owl-item">
                  <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                    <div type="button" class="py-2 bor bt">16</div>                                  
                  </div>
                  </div>
                  <div class="owl-item">
                    <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                      <div type="button" class="py-2 bor bt">17</div>                                  
                    </div>
                    </div>
                    <div class="owl-item">
                      <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                        <div type="button" class="py-2 bor bt">18</div>                                  
                      </div>
                      </div>
                      <div class="owl-item">
                        <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                          <div type="button" class="py-2 bor bt">19</div>                                  
                        </div>
                      </div>
                        <div class="owl-item">
                          <div class="bbb_viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                            <div type="button" class="py-2 bor bt">20</div>                                  
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>



<!-- Gallary -->
<div class="gallary-section py-5">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="column">
          <!-- image not available -->
          <img src="./../../assets/image/gallary2.png" class="w-100 height-2">  
          <img  src="./../../assets/image/gallary2.png" class="w-100 height-2">
        </div>
      <div class="column">
        <!-- image border issues -->
        <img src="./../../assets/image/gallary15.png" class="w-100 height"> 
        <img src="./../../assets/image/gallary13.png" class="w-100 height-3">
      </div>
     
    </div>
    </div>
    <div class="col-md-5 px-0">
      <section>
  <div class=" gal-container">
    <div class="coloumn">
      <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1">
          <img class="height float-left l-img" src="./../../assets/image/gallary15.png">
        </a>
       
      </div>
      <div class="box">
        <a href="#" data-toggle="modal" data-target="#1">
          <img class="height float-left pl-3 r-img" src="./../../assets/image/gallary16.png">
        </a>
       
      </div>
    </div>
  </div>
    



  <div class="coloumn">
    <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
    <div class="box">
      <a href="#" data-toggle="modal" data-target="#1">
        <img class="height float-left r-img" src="./../../assets/image/gallary4.png">
      </a>
     
    </div>
    <div class="box">
      <a href="#" data-toggle="modal" data-target="#1">
        <img class="height float-left pl-3 l-img" src="./../../assets/image/pexels-pixabay-235621@2x.png">
      </a>
     
    </div>
  </div>
</div>

<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
  <div class="box">
    <a href="#" data-toggle="modal" data-target="#1">
      <img class="height-1 float-left w-100" src="./../../assets/image/gallary8.png">
    </a>
   
  </div>
</div>
</div>
   
 
  </div>
</section>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 p-0">
      <div class="coloumn">
        <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#1">
            <img class="pr-2 float-left w-50" src="./../../assets/image/gallary10.png">
          </a>
         
        </div>
        <div class="box">
          <a href="#" data-toggle="modal" data-target="#1">
            <img class="pl-2 float-left w-50" src="./../../assets/image/gallary11.png">
          </a>
         
        </div>
      </div>
      </div>
    </div>
  </div>


  <div class="row">
  
    <div class="col-md-5 px-0">
      <section>
  <div class=" gal-container">
  
<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
  <div class="box">
    <a href="#" data-toggle="modal" data-target="#1">
      <img class="height-1 float-left w-100" src="./../../assets/image/gallary9.png">
    </a>
   
  </div>
</div>
</div>
<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
  <div class="box">
    <a href="#" data-toggle="modal" data-target="#1">
      <img class="height float-left l-img" src="./../../assets/image/gallary7.png">
    </a>
   
  </div>
  <div class="box">
    <a href="#" data-toggle="modal" data-target="#1">
      <img class="height float-left pl-3 r-img" src="./../../assets/image/gallary5.png">
    </a>
   
  </div>
</div>
</div>
<div class="coloumn">
  <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
  <div class="box">
    <a href="#" data-toggle="modal" data-target="#1">
      <img class="height float-left r-img mt-1" src="./../../assets/image/gallary17.png">
    </a>
   
  </div>
  <div class="box">
    <a href="#" data-toggle="modal" data-target="#1">
      <img class="height float-left pl-3 l-img" src="./../../assets/image/car-gallary.png">
    </a>
   
  </div>
</div>
</div>
  </div>
</section>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="column">
          <!-- image not available -->
          <img src="./../../assets/image/gallary14.png" class="w-100 height-3">  
          <img  src="./../../assets/image/gallary12.png" class="w-100 height">
        </div>
      <div class="column">
        <!-- image border issues -->
        <img src="./../../assets/image/gallary3.png" class="w-100 height-2 "> 
        <img src="./../../assets/image/gallary1.png" class="w-100 height-2">
      </div>
     
    </div>
    </div>
  </div>
</div>


</div>