<div class="container">
    <div class="row py-5">
        <div class="col-md-2 py-2">
          <a routerLink="/">
            <p class="align-top px-5  media1 w3-animate-top color-cls" id="myDIV">Media<br> Bucket</p></a>
        </div>
        <div class="col-md-5 py-2 second">
            <div class="form-group ">
        
                <input type="text" class="form-control justify-content-center px-3 py-2  mt-3 w-100"  placeholder="Search what you want">
                <span class="glyphicon glyphicon-search form-control-feedback fa-2x mt-4 pr-2 color-cls"></span>
              </div>
            
        </div>
      
       
        <div class="col-md-5 py-2">
            <span>
                <h4 class="float-left pt-4 color-cls price"> Pricing</h4>
                <i class="fa fa-shopping-cart fa-2x float-left pt-4 ml-5 color-cls" aria-hidden="true"></i> 

                <button type="button" class="btn  btn-bg py-2  float-left ml-5 mt-3 display-3 position-relative ">
                <h5 class="font-weight-normal text-white px-2">Login</h5>
            </button>
            <button type="button" class="btn  btn-bg py-2  ml-5 display-3 mt-3 position-relative">
                <h5 class="font-weight-normal text-white">Sign up</h5>
            </button></span>
        </div>
       
    </div>

    <div class="row py-5 mb-5">
        <div class="col-md-12 pb-5 mb-5">
            <h1 class="color-cls px-5 Terms left-p">Terms & Condition</h1>
              <br>
            <h2 class="color-cls px-5 Terms1 left-p ">Terms & Condition</h2>
            <p class=" pt-5 about-p px-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                 when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries, but also the leap into electronic typesetting, 
                  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                   <p class="pt-5 about-p px-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                     when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      It has survived not only five centuries, but also the leap into electronic typesetting, 
                      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
                      sheets containing.</p>
                      <p class="pt-5 about-p px-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                         It has survived not only five centuries, but also the leap into electronic typesetting, 
                         remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                          <p class="pt-5 about-p px-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                             It has survived not only five centuries, but also the leap into electronic typesetting, 
                             remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
                             sheets containing.</p>
                             <p class="pt-5 about-p px-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                 It has survived not only five centuries, but also the leap into electronic typesetting, 
                                 remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                                  <p class="pt-5 about-p px-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                     It has survived not only five centuries, but also the leap into electronic typesetting, 
                                     remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
                                     sheets containing.</p>
                                     <p class="pt-5 about-p px-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                       
                                          <p class="py-5 about-p px-5 mb-5 left-p l-spacing">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                             It has survived not only five centuries,</p>
                    
                

                    
        </div>
    </div>



    </div>